
:root {
    --gradientSystemGradientGradient1: linear-gradient(
          136.12deg,
          #27ba62 0%,   
          #8bd432 52.1%,   
          #acdd22 100%  
        )
        ;    
    --gradientSystemGradientGradient2: linear-gradient(
          135deg,
          #0b6060 0%,   
          #137a61 40.6%,   
          #27ba62 100%  
        )
        ;    
    --gradientSystemGradientGradient3: linear-gradient(
          136.12deg,
          #0b6060 0%,   
          #27ba62 51%,   
          #acdd22 100%  
        )
        ;    
}