$shadowShadow48: 0 8px 48px 0 rgba(0,0,0,0.08);  
$shadowShadow16: 0 4px 16px 0 rgba(0,0,0,0.16);  
$shadowShadow24: 0 4px 24px 0 rgba(0,0,0,0.12);  
$shadowShadow32: 0 8px 32px 0 rgba(0,0,0,0.12);  
